html {
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 2;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--logo {
    margin-top:10px;
}

.header--logo--link {
    display: inline-block;
    /* text-align: center; */
    
}

.header--logo--image {

    /* position: relative;
    left: 50%; */

}

.header--menu {
    padding: 10px 0 13px 0;
    
}

.header--menu--list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

.menu--fields {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
}

.menu--fields:first-child {
    /* padding-left: 100px; */
    padding-right: 10px;
}


.menu--fields:last-child {
    /* padding-left: 100px; */
    padding-left: 10px;
}

.main--section {
    background-color: #3CDBC0;
    height: 100vh;
    margin: 0 auto;
    
}

.main--section--eslogan {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main--section--text {
    color: #FFFFFF;
    font-size: 30px; 
    font-weight: bold;
    margin: 0;
}



@media all and (min-width:768px) {

    .header__wrapper {
        flex-direction: row;
        justify-content: space-between;
    
    }

    .header--logo {
        margin:20px 0 20px 30px;
    }


    .menu--fields:first-child {
        
        padding-right: 20px;
    }
    
    
    .menu--fields:last-child {
        
        padding-right: 30px;
    }

    
}